/** Variables **/
:root {
    --color-azul-fuerte: #162540;
    --color-azul-claro: #5794FF;
    --color-azul-oscuro:#2B4A80;
    --color-azul-claro2: #4170C2;
    --color-azul-vivo: #4E86E6;
    --color-oscuro-transparente: #91919191;
    --color-contraste-fuerte: #00F59B;
    --color-fondo-textos: #FFF;
    --color-texto-primario: #000;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-azul-fuerte: #272729;
        --color-azul-claro: #1646a0;
        --color-azul-oscuro:#101929;
        --color-azul-claro2: #0c2d74;
        --color-azul-vivo: #0046be;
        --color-oscuro-transparente: #25304291;
        --color-fondo-textos: #1D1E20;
        --color-texto-primario: #FFF;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --color-azul-fuerte: #162540;
        --color-azul-claro: #5794FF;
        --color-azul-oscuro:#2B4A80;
        --color-azul-claro2: #4170C2;
        --color-azul-vivo: #4E86E6;
        --color-oscuro-transparente: #91919191;
        --color-fondo-textos: #FFF;
        --color-texto-primario: #000;
    }
}

/** Etiquetas **/
body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--color-azul-oscuro); 
    transition: background-color 1s;
    position: relative;
}

h1 {
    margin: 0;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li {
    display: inline-block;
    margin-left: 1rem;
}

ul li a {
    color: white;
    text-decoration: none;
}

/** Contenedor **/
.wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    max-width: 1200px;
    display: grid;
    grid-template-columns: 3fr 2fr 3fr;
    grid-gap: 10px;
    row-gap: 10rem;
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas: "navbar navbar navbar"
                            "sobremi sobremi imagen"
                            "tecnologias tecnologias tecnologias"
                            "portafolio portafolio portafolio"
                            "contacto contacto algo"
                            "footer footer footer";
}

@media (max-width: 768px) {
    .wrapper {
        row-gap: 2rem;
        grid-template-columns: 3fr 2fr 3fr;
        grid-template-areas: 
                            "navbar navbar navbar"
                            "imagen imagen imagen"
                            "sobremi sobremi sobremi"
                            "tecnologias tecnologias tecnologias"
                            "portafolio portafolio portafolio"
                            "contacto contacto contacto"
                            "algo algo algo"
                            "footer footer footer";
    }
}

/** Generales **/
.titulo-seccion {
    text-shadow: 2px 2px 5px var(--color-azul-fuerte);
    font-size: 2rem;
    font-weight: 100;
}

.redes > a {
    text-decoration: none;
    color: white;
}

/* Color de iconos */
.tecnologias-usadas .fa-html5 {
    color: rgb(179, 65, 30);
}

.tecnologias-usadas .fa-css3-alt {
    color: rgb(51, 108, 230);
}

.tecnologias-usadas .fa-js-square {
    color: yellow;
}

.tecnologias-usadas .fa-node-js {
    color: green;
}

.tecnologias-usadas .fa-leaf {
    color: green;
    position: relative;
}

.tecnologias-usadas .fa-leaf::after {
    content: "Mongodb";
    position: absolute;
    left: -0.2rem;
    top: 0.9rem;
    font-size: 0.5rem;
    color: white;
}

.tecnologias-usadas .fa-cloud {
    color: rgb(0, 0, 182);
    position: relative;
}

.tecnologias-usadas .fa-cloud::after {
    content: "Cloud Azure";
    position: absolute;
    left: 0.2rem;
    top: 0.4rem;
    font-size: 0.5rem;
    color: white;
}

/** Navbar **/
.nav-bar {
    color: white;
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
    padding-bottom: 2rem;
    grid-area: navbar;
    align-items: center;
}

.nav-bar::after {
    content: "";
    height: 100.8px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: var(--color-azul-fuerte);
    transition: background-color 1s;
}

.nav-bar span {
    font-weight: 700;
    font-size: 2rem;
}

.nav-end > ul > li > a:hover {
    color: var(--color-azul-vivo);
}

.nav-end {
    display: flex;
    align-items: center;
}

.nav-end > ul :nth-child(4) {
    margin-right: 2rem;
}

@media (max-width: 768px) {
    .nav-end > ul {
        display: none;
    }
}

/** Switch **/
.switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 24px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}  

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-azul-claro2);
    -webkit-transition: .4s;
    transition: .4s;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.slider > i {
    font-size: 1rem;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    bottom: 2.5px;
    left: 2px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: var(--color-azul-claro);
}

input:focus + .slider {
    box-shadow: 0 0 1px var(--color-azul-claro);
}

input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

@media (max-width: 768px) {
    .switch {
        width: 60px;
        height: 34px;
    }

    .slider:before {
        height: 26px;
        left: 4px;
        width: 26px;
        bottom: 4px;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }
}

/** Sobre mi **/
.sobre-mi {
    color: rgba(255, 255, 255, 0.803);
    display: flex;
    flex-direction: column;
    grid-area: sobremi;
    justify-self: left;
}

.small-text {
    font-size: 2rem;
}

.dark-text {
    color: rgba(255, 255, 255, 0.233);
}

.redes {
    display: flex;
}

.icon {
    height: 2.5rem;
    width: 2.5rem;
    margin-right: 1rem;
    border: 2px solid var(--color-azul-claro);
    border-radius: 7mm;
    box-shadow: 2px 2px 5px var(--color-azul-fuerte);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s;
}

.icon:hover {
    transform: rotate(45deg);
}

.sobre-mi > :nth-child(2) {
    font-family: 'Roboto Mono', monospace;
    display: inline-block;
    margin-top: 2rem;
    font-weight: 700;
    text-shadow: 2px 2px 15px var(--color-azul-fuerte);
    font-size: 4rem;
}

.sobre-mi > :nth-child(4) {
    display: inline-block;
    font-weight: 100;
    max-width: 40rem;
    line-height: 30px;
    text-shadow: 2px 2px 5px var(--color-azul-fuerte);
    font-size: 1.5rem;
}

.accesos-rapidos > a {
    margin-top: 3rem;
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 0.2rem solid var(--color-azul-claro);
    border-radius: 1.5rem;
    padding: 0.6rem 1.6rem;
    font-size: 1.2rem;
    margin-right: 2rem;
}

.accesos-rapidos > :nth-child(2) {
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    background-color: var(--color-azul-claro);
    transition: background-color border-color 1s;
}

.accesos-rapidos :hover {
    border: 0.2rem solid var(--color-azul-vivo);
}

.accesos-rapidos > :nth-child(2):hover {
    background-color: var(--color-azul-vivo);
}

@media screen and (max-width: 1024px) {
    .sobre-mi > :nth-child(2) {
        font-size: 2rem;
    }

    .sobre-mi > :nth-child(4) {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 768px) {
    .sobre-mi {
        justify-self: center;
    }

    .accesos-rapidos {
        display: flex;
        justify-content: space-around;
    }

    .accesos-rapidos > a {
        margin-right: 0;
    }
}

/** Boton Ir Abajo **/
.ir-abajo {
    margin-top: 4rem;
}
.boton-ir-abajo {
    position: absolute;
    width: 50px;
    height: 50px;
    left: calc(50vw - 25px);
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: white;
    font-size: 1.5rem;
    outline: none;
}

.boton-ir-abajo > i {
    display: block;
    margin-top: -0.9rem;
    text-shadow: 0px 5px 5px var(--color-azul-oscuro);
}

.boton-ir-abajo > i:hover {
    text-shadow: 0px 5px 10px var(--color-azul-claro);
}

@media (max-width: 768px) {
    .boton-ir-abajo {
        display: none;
    }
}

/** Imagen **/
.imagen {
    grid-area: imagen;
    justify-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.fondo-foto-perfil {
    position: absolute;
    background-color: var(--color-azul-claro);
    transition: background-color 1s;
    height: 20rem;
    width: 20rem;
    border-radius: 50%;
}

.mascara-foto-perfil {
    position: absolute;
    height: 20rem;
    width: 20rem;
    border-radius: 50%;
    overflow: hidden;
}

.mascara-foto-perfil > img{
    height: 22rem;
    margin-top: -2rem;
}

@media (max-width: 860px) {
    .imagen {
        height: 12rem;
        padding-top: 50%;
    }

    .fondo-foto-perfil {
        height: 12rem;
        width: 12rem;
    }

    .mascara-foto-perfil {
        height: 12rem;
        width: 12rem;
        margin-top: -0rem;
    }  

    .mascara-foto-perfil > img{
        height: 12rem;
        margin-top: 0;
    }
}

@media (max-width: 768px) {
    .imagen {
        height: 12rem;
        padding-top: 0;
    }

    .fondo-foto-perfil {
        height: 12rem;
        width: 12rem;
    }

    .mascara-foto-perfil {
        height: 12rem;
        width: 12rem;
        margin-top: -0rem;
    }    

    .mascara-foto-perfil > img{
        height: 12rem;
        margin-top: 0;
    }
}

/** Seccion habilidades **/
.lista-habilidades {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.elemento-habilidad {
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 2rem;
}

.elemento-habilidad > i {
    font-size: 2rem;
    border: 2px solid var(--color-azul-claro);
    border-radius: 50%;
    height: 4rem;
    min-width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-azul-fuerte);
    transition: background-color 1s;
}

.elemento-habilidad > h3 {
    font-weight: 300;
    min-width: 15rem;
    font-size: 1.2rem;
    text-shadow: 2px 2px 5px var(--color-azul-fuerte);
}

@media (max-width: 768px) {
    .elemento-habilidad {
        flex-direction: row;
    }
}

/** Seccion Tecnologias **/
.seccion-tecnologias {
    color: white;
    display: flex;
    flex-direction: column;
    grid-area: tecnologias;
}

.lista-tecnologias {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.elemento-tecnologias {
    margin-top: 4rem;
    padding: 1rem;
    margin-right: 0.5rem;
}

@media (max-width: 768px) {
    .elemento-tecnologias {
        margin-top: 2rem;
    }
}

/** Portfolio **/
.seccion-portafolio {
    color: white;
    grid-area: portafolio;
    width: 100%;
}

.carrusel {
    height: 400px;
    position: relative;
    display: flex;
    align-items: center;
}

.carrusel-btn {
    border: none;
    outline: none;
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

.carrusel-btn-atras {
    position: absolute;
    top: calc(50% - 20px);
    left: -20px;
}

.carrusel-btn-adelante {
    position: absolute;
    top: calc(50% - 20px);
    right: -20px;
}

.carrusel-contenido {
    height: 302px;
    display: flex;
    overflow-x: hidden;
}

.elemento-carrusel {
    /* border: 1px solid white; */
    height: 300px;
    min-width: 230px;
    margin-right: 40px;
    background-image: url(./dist/image-proyecto02.png);
    background-position: center;
    background-size: cover;
}

/* .elemento-carrusel:hover {
    background-color: var(--color-azul-fuerte);
} */

.caracteristicas-proyecto {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    font-size: 1.5rem;
}

.titulo-proyecto {
    width: 50%;
    padding-left: 0.2rem;
    height: 60px;
}

.tecnologias-usadas {
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
    
}

/* si backdrop es soportado: transparencia y blur */
@supports ((-webkit-backdrop-filter: blur(2em)) or (backdrop-filter: blur(2em))) {
    .titulo-proyecto, .tecnologias-usadas {
        -webkit-backdrop-filter: blur(4px);
        backdrop-filter: blur(4px);
    }
}

.tecnologias-usadas > :nth-child(n) {
    display: flex;
    justify-content: space-around;
}

@media (max-width: 768px) {
    .carrusel-contenido {
        overflow-x: scroll;
    }

    .carrusel-btn {
        display: none;
    }
}

/* Mas elementos */
.mas-proyectos {
    display: flex;
    justify-content: center;
    text-align: center;
}

.mas-proyectos > span :nth-child(1) {
    font-size: 1rem;
}

.mas-proyectos > span > a {
    text-decoration: none;
    color: white;
}

.mas-proyectos > span > a:hover {
    color: var(--color-azul-claro);
}

.mas-proyectos > span > a :nth-child(1) {
    font-size: 2rem;
}

/* Contacto */
.contacto {
    grid-area: contacto;
}

.contacto > span {
    color: white;
    font-size: 2rem;
    display: block;
    margin-bottom: 2rem;
    font-weight: 100;
}

.contacto > form {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
}

.contacto > form > :nth-child(n) {
    margin-bottom: 1rem;
    border: none;
    border-radius: 1mm;
    border: 1px solid var(--color-azul-claro2);
}

.contacto > form > input {
    height: 30px;
    color: var(--color-texto-primario);
    background-color: var(--color-fondo-textos);
}

.contacto > form > .invalid-email {
    border: 2px solid rgb(145, 27, 27);
}

.contacto > form > .msg-invalid-email {
    border: none;
    color: rgb(163, 162, 162);
    text-align: center;
    font-size: 0.9rem;
    display: none;
}

.contacto > form > textarea {
    height: 200px;
    resize: none;
    color: var(--color-texto-primario);
    background-color: var(--color-fondo-textos);
}

input:-webkit-autofill {
    box-shadow: 0 0 0px 1000px var(--color-fondo-textos) inset;
    -webkit-text-fill-color: var(--color-texto-primario);
}

.btn-enviar {
    color: white;
    background-color: var(--color-azul-claro2);
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.btn-enviar:hover {
    background-color: var(--color-azul-claro);
}

#icon-successful {
    display: none;
    margin-left: 0.5rem;
}

#icon-unsuccessful {
    display: none;
    margin-left: 0.5rem;
}

@media (max-width: 768px) {
    .contacto > span {
        margin-top: 4rem;
    }
}

/* Footer */
.footer {
    color: white;
    height: 200px;
    grid-area: footer;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.footer::before {
    content: "";
    background-color: var(--color-azul-fuerte);
    transition: background-color 1s;
    position: absolute;
    height: 200px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.fila-1 {
    margin-top: 2.5rem;
    font-size: 0.8rem;
    text-align: left;
    width: 50%;
}

.fila-2 {
    margin-top: 2.5rem;
    width: 50%;
}

.fila-2 > span {
    display: block;
    margin-bottom: 1.3rem;
    width: 100%;
}

/* Navegacion Movil */
.nav-movil {
    position: fixed;
    bottom: 0;
    /* background-color: var(--color-azul-claro2); */
    height: 50px;
    width: 100%;
    left: 0;
    display: none;
    background-color: var(--color-azul-claro2);
    transition: background-color 1s;
}

/* si backdrop es soportado: transparencia y blur */
@supports ((-webkit-backdrop-filter: blur(2em)) or (backdrop-filter: blur(2em))) {
    .nav-movil {
        background-color: var(--color-oscuro-transparente);
        transition: background-color 1s;
        -webkit-backdrop-filter: blur(4px);
        backdrop-filter: blur(4px);
    }
}

.nav-movil > ul {
    display: flex;
    height: 100%;
}

.nav-movil > ul > li {
    margin-left: 0;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 0.7rem;
}

.nav-movil > ul > li:hover {
    background-color: var(--color-azul-claro);
}

.nav-movil > ul > li > a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-movil > ul > li > a > i {
    font-size: 1.5rem;
}

@media (max-width: 768px) {
    .nav-movil {
        display: block;
    }
}

/* Mensaje final */ 
.mensaje-final {
    color: white;
    grid-area: algo;
}

.mensaje-final > h3 {
    font-size: 2rem;
    font-weight: 100;
    margin-top: 0;
}

.mensaje-final > p {
    line-height: 20px;
    font-weight: 100;
}