---
---

<div class="contacto" id="contacto-id">
  <span>Envíame un mensaje</span>
  <form>
    <input type="text" name="user_name" id="name" placeholder="Nombre" />
    <input type="email" name="user_mail" id="mail" placeholder="E-mail" />
    <span class="msg-invalid-email">Escriba un correo valido.</span>
    <textarea name="message" id="msg" placeholder="Mensaje"></textarea>
    <button id="send" class="btn-enviar">
      <span id="msg-envio">Enviar</span>
      <i class="fas fa-check-circle" id="icon-successful"></i>
      <i class="fas fa-exclamation" id="icon-unsuccessful"></i>
    </button>
  </form>
</div>
