---
import RedesSociales from './RedesSociales.astro';
---

<footer class="footer">
  <div class="fila-1">Desarrollado por Eduardo García © 2026.</div>
  <div class="fila-2">
    <span>Redes Sociales:</span>
    <RedesSociales />
  </div>
</footer>
