---
---

<div class="mensaje-final">
  <h3>Más sobre mí</h3>
  <p>
    Soy ingeniero de software, tengo experiencia en el desarrollo de backend, bases de datos y
    algoritmos de machine learning. Puedes contactarme si necesitas que desarrolle una herramienta
    que te ayude llevar acado tu idea.
  </p>
</div>
