---
---

<div class="mensaje-final">
  <h3>Más sobre mí</h3>
  <p>
    Soy ingeniero de software, tengo experiencia en el desarrollo de backend, bases de datos y
    algoritmos de machine learning. Puedes contactarme si necesitas que desarrolle una herramienta
    que te ayude llevar acado tu idea.
  </p>
</div>

<style>
  .mensaje-final {
    color: var(--color-texto-primario);
    grid-area: algo;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .mensaje-final > h3 {
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 1.2rem;
  }

  .mensaje-final > p {
    line-height: 1.7;
    opacity: 0.8;
    font-size: 1.05rem;
  }
</style>
