---
const links = [
  { href: '#nav-bar-id', icon: 'fas fa-home', label: 'Sobre mí' },
  { href: '#portafolio', icon: 'fas fa-folder', label: 'Portafolio' },
  { href: '#contacto-id', icon: 'fas fa-id-card', label: 'Contacto' },
];
---

<div class="nav-movil">
  <ul>
    {
      links.map((link) => (
        <li>
          <a href={link.href}>
            <i class={link.icon} />
            {link.label}
          </a>
        </li>
      ))
    }
  </ul>
</div>
