---
// Iconos de redes sociales, reutilizado en "Sobre mí" y el footer.
const redes = [
  { href: 'https://twitter.com/victor2211812', icon: 'fab fa-twitter' },
  { href: 'https://www.youtube.com/@vktornaj', icon: 'fab fa-youtube' },
  {
    href: 'https://www.linkedin.com/in/víctor-eduardo-garcía-nájera-8a7a00175',
    icon: 'fab fa-linkedin-in',
  },
];
---

<div class="redes">
  {
    redes.map((red) => (
      <a href={red.href} target="_blank">
        <div class="icon">
          <i class={red.icon} />
        </div>
      </a>
    ))
  }
</div>
