---
import RedesSociales from './RedesSociales.astro';
---

<div class="sobre-mi" id="sobre-mi">
  <RedesSociales />
  <h1>
    <span class="small-text dark-text">Soy Desarrollador</span> <br /> Backend y Machine Learning
  </h1>
  <br />
  <span>
    Domino tecnologías del servidor que me permiten abordar todo tipo de proyectos,
    tambien tengo gran pasion por la inteligencia artificial, me gustan los retos y hacer
    proyectos escalables de calidad.
  </span>
  <div class="accesos-rapidos">
    <a href="#portafolio">Portafolio</a>
    <a
      href="https://drive.google.com/file/d/1TrdIb0DWQYv9YbZ_J5-ZHjfyrQ1Wz7Om/view?usp=sharing"
      target="blank">CV</a
    >
  </div>
  <div class="ir-abajo">
    <button class="boton-ir-abajo">
      <i class="fas fa-chevron-down"></i>
      <i class="fas fa-chevron-down"></i>
    </button>
  </div>
</div>

<div class="imagen" id="imagen">
  <div class="fondo-foto-perfil"></div>
  <div class="mascara-foto-perfil">
    <img src="/assets/perfil.png" alt="imagen de perfil" />
  </div>
</div>
