---
const habilidades = [
  { icon: 'fab fa-java', titulo: 'Programación orientada <br/> a objetos' },
  { icon: 'fas fa-sort-numeric-up-alt', titulo: 'Estructuras de datos' },
  { icon: 'fas fa-database', titulo: 'Bases de datos' },
  { icon: 'fas fa-square-root-alt', titulo: 'Algoritmia' },
];

const tecnologias = [
  { icon: 'fab fa-html5', nombre: 'HTML' },
  { icon: 'fab fa-css3-alt', nombre: 'CSS' },
  { icon: 'fab fa-js-square', nombre: 'JavaScript' },
  { icon: 'fab fa-python', nombre: 'Python' },
  { icon: 'fab fa-rust', nombre: 'Rust' },
  { icon: 'fas fa-database', nombre: 'SQL' },
  { icon: 'fab fa-git', nombre: 'Git' },
];
---

<div class="seccion-tecnologias" id="tecnologias">
  <h2 class="titulo-seccion">Habilidades de programación</h2>
  <div class="lista-habilidades moviendo">
    {
      habilidades.map((h) => (
        <div class="elemento-habilidad">
          <i class={h.icon} />
          <h3 set:html={h.titulo} />
        </div>
      ))
    }
  </div>

  <h2 class="titulo-seccion">Tecnologías</h2>
  <div class="lista-tecnologias">
    {
      tecnologias.map((t) => (
        <div class="elemento-tecnologias">
          <i class={t.icon} />
          <span>{t.nombre}</span>
        </div>
      ))
    }
  </div>
</div>
